Repository luotaoyeah/react-typescript-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, npm run lint-staged:js, prettier --write

.lintstagedrc:

{
  "linters": {
    "**/*.less": "stylelint --syntax less",
    "**/*.{js,ts,jsx,tsx}": "npm run lint-staged:js",
    "*.{js,ts,tsx,json,html,css,scss,less,md,yml}": ["prettier --write", "git add"]
  }
}

fix: fix lint error
  .env
  .gitignore
  package-lock.json
  scripts/commit-msg.js
Due: npm run lint-staged:js, prettier --write

chore: remove unused locales
  src/locales/pt-BR.ts
  src/locales/pt-BR/component.ts
  src/locales/pt-BR/globalHeader.ts
  src/locales/pt-BR/menu.ts
  src/locales/pt-BR/pwa.ts
  src/locales/pt-BR/settingDrawer.ts
  src/locales/pt-BR/settings.ts
  src/locales/zh-TW.ts
  src/locales/zh-TW/component.ts
  src/locales/zh-TW/globalHeader.ts
  src/locales/zh-TW/menu.ts
  src/locales/zh-TW/pwa.ts
  src/locales/zh-TW/settingDrawer.ts
  src/locales/zh-TW/settings.ts
Due: npm run lint-staged:js, prettier --write

test: comment e2e tests
  src/components/doc/02-advanced-guides/02-20/02-20-02.tsx
  src/e2e/baseLayout.e2e.js
  src/e2e/topMenu.e2e.js
  tests/run-tests.js
  tests/setupTests.js
Due: npm run lint-staged:js, prettier --write

test: comment e2e tests
  src/e2e/baseLayout.e2e.js
  src/e2e/topMenu.e2e.js
Due: npm run lint-staged:js, prettier --write

test: config test coverage for jest
  jest.config.js
Due: npm run lint-staged:js, prettier --write

style: customize theme
  config/config.ts
  src/components/header-dropdown/index.less
  src/global.less
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

chore: remove ANT_DESIGN_PRO_ONLY_DO_NOT_USE_IN_YOUR_PRODUCTION
  .eslintrc.js
  config/config.ts
  config/plugin.config.ts
  jest.config.js
  package.json
  src/components/doc/01-main-concepts/01-hello-world/01-01.tsx
  src/locales/en-US/menu.ts
  src/locales/zh-CN/menu.ts
  src/models/setting.ts
  src/pages/home.tsx
  src/pages/welcome.tsx
  src/typings.d.ts
  src/utils/authority.ts
  src/utils/utils.ts
Due: npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): ReactDOM.render()
  config/config.ts
  src/components/doc/01-main-concepts/01-03/01-03-02.tsx
  src/components/doc/01-main-concepts/01-03/01-03-03.tsx
  src/components/doc/01-main-concepts/01-03/01-03-04.tsx
  src/components/doc/01-main-concepts/01-05/01-05-01.tsx
  src/components/doc/01-main-concepts/01-hello-world/01-01.tsx
  src/components/doc/03-api-reference/03-03-react-dom/03-03-01-render/C03030101.tsx
  src/components/doc/03-api-reference/03-03-react-dom/03-03-01-render/C03030102.tsx
  src/components/doc/03-api-reference/03-03-react-dom/03-03-02-unmountComponentAtNode/C03030201.tsx
  src/components/doc/03-api-reference/03-03-react-dom/03-03-03-createPortal/C03030301.tsx
  src/locales/en-US/menu.ts
  src/locales/zh-CN/menu.ts
Due: npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): why jsx
  config/config.ts
  src/components/doc/01-main-concepts/01-02/01-02-01.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-03.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-04.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-05/01-02-05.ico
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-05/01-02-05.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-06.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-07.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.less
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01/01-02-01.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/05/01-02-05.ico
  src/components/doc/01-main-concepts/02-introducing-jsx/05/01-02-05.tsx
  src/global.less
  src/locales/en-US/menu.ts
  src/locales/zh-CN/menu.ts
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): embedding expressions in jsx
  config/config.ts
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-05/01-02-05.ico
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-05/01-02-05.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01/01-02-01.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/02/01-02-02.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): jsx is an expression too
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-03.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/03/01-02-03.tsx
  src/global.less
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): specifying attributes with jsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-04.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/04/01-02-04.tsx
Due: npm run lint-staged:js, prettier --write

chore: update dependencies
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  src/pages/document.ejs
Due: npm run lint-staged:js, prettier --write

style: disable transition
  src/global.less
Due: stylelint --syntax less, prettier --write

style: change spin's indicator
  src/components/authorized/promise-render.tsx
  src/components/global-header/avatar-dropdown.tsx
  src/components/notice-icon/index.tsx
  src/components/page-loading/index.tsx
Due: npm run lint-staged:js, prettier --write

chore: update dependencies
  package-lock.json
  package.json
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/global.less
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

style: update style of sidebar menu
  src/global.less
Due: stylelint --syntax less, prettier --write

refactor(doc.main-concepts): specifying children with jsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/04/01-02-04.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/05/01-02-05.tsx
  src/typings.d.ts
Due: npm run lint-staged:js, prettier --write

refactor(doc.main-concepts): jsx prevents XSS
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-06.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/06/01-02-06.tsx
Due: npm run lint-staged:js, prettier --write

feat: adopt docker
  .dockerignore
  .env
  Dockerfile
  config/nginx/nginx.conf
  jest.config.js
Due: npm run lint-staged:js, prettier --write

chore: commit .idea
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/deployment.xml
  .idea/dictionaries/luotao.xml
  .idea/emacs.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/learning-react.iml
  .idea/markdown-navigator.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/docker_compose.xml
  .idea/sbt.xml
  .idea/vcs.xml
Due: none

ci: adopt docker-compose
  .env
  Dockerfile
  docker-compose.yml
Due: prettier --write

ci: use separate compose file in production
  .env
  .idea/runConfigurations/docker_compose_production.xml
  config/nginx/nginx.conf
  docker-compose.production.yml
  docker-compose.yml
Due: prettier --write

ci: use mock in production
  .eslintrc.js
  src/services/user.ts
Due: npm run lint-staged:js, prettier --write

chore: remove unused dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add login page
  config/config.ts
  config/plugin.config.ts
  mock/user.ts
  src/components/global-header/avatar-dropdown.tsx
  src/global.tsx
  src/layouts/basic-layout.tsx
  src/layouts/security-layout.tsx
  src/models/connect.d.ts
  src/models/global.ts
  src/models/login.ts
  src/models/setting.ts
  src/models/user.ts
  src/pages/user/login/components/Login/index.less
  src/pages/user/login/components/Login/index.tsx
  src/pages/user/login/components/Login/login-context.tsx
  src/pages/user/login/components/Login/login-item.tsx
  src/pages/user/login/components/Login/login-submit.tsx
  src/pages/user/login/components/Login/login-tab.tsx
  src/pages/user/login/components/Login/map.tsx
  src/pages/user/login/index.tsx
  src/pages/user/login/locales/en-US.ts
  src/pages/user/login/locales/zh-CN.ts
  src/pages/user/login/locales/zh-TW.ts
  src/pages/user/login/style.less
  src/services/login.ts
  src/utils/request.ts
  src/utils/utils.test.ts
  src/utils/utils.ts
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

chore: sync to ant-design-pro
  .prettierignore
  config/config.ts
  config/defaultSettings.ts
  package-lock.json
  package.json
  src/components/global-header/index.less
  src/pages/document.ejs
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

chore: update dependencies
  config/defaultSettings.ts
  package-lock.json
  package.json
  src/e2e/base-layout.e2e.js
  src/e2e/top-menu.e2e.js
  src/global.less
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

feat(doc.main-concepts): jsx prevents injection attacks
  .idea/learning-react.iml
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/04/01-02-04.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/06/01-02-06.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.main-concepts): jsx represents objects
  .eslintrc.js
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02-07.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/01-02.tsx
  src/components/doc/01-main-concepts/02-introducing-jsx/07/01-02-07.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.main-concepts): React.ReactElement
  config/config.ts
  src/components/doc/01-main-concepts/01-03/01-03-01.tsx
  src/components/doc/01-main-concepts/01/01-01.tsx
  src/components/doc/01-main-concepts/02/01-02.less
  src/components/doc/01-main-concepts/02/01-02.tsx
  src/components/doc/01-main-concepts/02/01/01-02-01.tsx
  src/components/doc/01-main-concepts/02/02/01-02-02.tsx
  src/components/doc/01-main-concepts/02/03/01-02-03.tsx
  src/components/doc/01-main-concepts/02/04/01-02-04.tsx
  src/components/doc/01-main-concepts/02/05/01-02-05.ico
  src/components/doc/01-main-concepts/02/05/01-02-05.tsx
  src/components/doc/01-main-concepts/02/06/01-02-06.tsx
  src/components/doc/01-main-concepts/02/07/01-02-07.tsx
  src/components/doc/01-main-concepts/03/01-03-01.tsx
  src/components/doc/01-main-concepts/03/01-03-02.tsx
  src/components/doc/01-main-concepts/03/01-03-03.tsx
  src/components/doc/01-main-concepts/03/01-03-04.tsx
  src/components/doc/01-main-concepts/03/01-03.less
  src/components/doc/01-main-concepts/03/01-03.tsx
  src/global.less
  src/locales/en-US/menu.ts
  src/locales/zh-CN/menu.ts
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

feat(doc.main-concepts): ReactDOM.render()
  src/components/doc/01-main-concepts/03/01-03-02.tsx
  src/components/doc/01-main-concepts/03/01-03.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.main-concepts): ReactDOM.render()
  src/components/doc/01-main-concepts/03/01-03-02.tsx
  src/components/doc/01-main-concepts/03/01-03-03.tsx
  src/components/doc/01-main-concepts/03/01-03.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.main-concepts): react only updates what’s necessary
  src/components/doc/01-main-concepts/03/01-03-01.tsx
  src/components/doc/01-main-concepts/03/01-03-03.tsx
  src/components/doc/01-main-concepts/03/01-03-04.tsx
  src/components/doc/01-main-concepts/03/01-03.tsx
Due: npm run lint-staged:js, prettier --write
