Repository luotaoyeah/react-typescript-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, npm run lint-staged:js, prettier --write

feat(doc.api-reference): React.Component: componentDidCatch()
  src/components/doc/03-api-reference/02/03-02-03/03-02-03-09/C0302030901.tsx
  src/components/doc/03-api-reference/02/03-02.tsx
  src/components/doc/03-api-reference/02/11/03-02-11.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.api-reference): React.Component: setState()
  src/components/doc/03-api-reference/02/03-02-03/03-02-03-10/C0302031001.tsx
  src/components/doc/03-api-reference/02/03-02.tsx
  src/components/doc/03-api-reference/02/12/03-02-12.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.api-reference): React.Component: forceUpdate()
  src/components/doc/03-api-reference/02/03-02-03/03-02-03-11/C0302031101.tsx
  src/components/doc/03-api-reference/02/03-02.tsx
  src/components/doc/03-api-reference/02/12/03-02-12.tsx
  src/components/doc/03-api-reference/02/13/03-02-13.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.api-reference): React.Component: defaultProps
  src/components/doc/03-api-reference/02/03-02-04/03-02-04-01/C0302040101.tsx
  src/components/doc/03-api-reference/02/03-02.tsx
  src/components/doc/03-api-reference/02/13/03-02-13.tsx
  src/components/doc/03-api-reference/02/14/03-02-14.tsx
  src/components/doc/03-api-reference/02/15/C0302040201.tsx
Due: npm run lint-staged:js, prettier --write

feat(doc.api-reference): React.Component: displayName
  src/components/doc/03-api-reference/02/01/03-02-01.tsx
  src/components/doc/03-api-reference/02/02/03-02-02.01.tsx
  src/components/doc/03-api-reference/02/03-02.tsx
  src/components/doc/03-api-reference/02/05/03-02-05.01.tsx
  src/components/doc/03-api-reference/02/06/03-02-06.tsx
  src/components/doc/03-api-reference/02/08/03-02-08.tsx
  src/components/doc/03-api-reference/02/09/03-02-09.tsx
  src/components/doc/03-api-reference/02/11/03-02-11.tsx
  src/components/doc/03-api-reference/02/12/03-02-12.tsx
  src/components/doc/03-api-reference/02/15/03-02-15.tsx
  src/components/doc/03-api-reference/02/15/C0302040201.tsx
Due: npm run lint-staged:js, prettier --write

chore: sync to ant-design-pro
  .eslintignore
  .eslintrc.js
  .prettierignore
  config/config.ts
  jest.config.js
  package-lock.json
  package.json
  src/components/authorized/authorized.tsx
  src/components/doc/02-advanced-guides/08/02/Chosen.tsx
  src/components/doc/02-advanced-guides/16/05/02-16-05.01.tsx
  src/components/doc/04-hooks/04-02-hooks-at-a-glance/04-02-03-rules-of-hooks/C04020301.tsx
  src/components/doc/04-hooks/04-04-using-the-effect-hook/04-04-01-using-the-effect-hook/C04040101.tsx
  src/components/doc/04-hooks/04-04-using-the-effect-hook/04-04-02-effects-without-cleanup/C04040201.tsx
  src/components/doc/04-hooks/04-04-using-the-effect-hook/04-04-03-effects-with-cleanup/C04040301.tsx
  src/components/doc/04-hooks/04-04-using-the-effect-hook/04-04-04-tips-for-using-effects/C04040401.tsx
  src/components/global-header/index.less
  src/components/global-header/right-content.tsx
  src/components/header-search/index.less
  src/components/header-search/index.tsx
  src/components/pkgs/react-router/api/route/Route.tsx
  src/components/pkgs/react-router/api/route/children.tsx
  src/e2e/base-layout.e2e.js
  src/e2e/top-menu.e2e.js
  src/layouts/basic-layout.tsx
  src/layouts/user-layout/user-layout.tsx
  src/locales/en-US/menu.ts
  src/locales/zh-CN/menu.ts
  src/models/connect.d.ts
  src/models/login.ts
  src/pages/admin.tsx
  src/pages/authorized.tsx
  src/utils/authority.ts
  src/utils/utils.ts
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

ci: cache in dockerfile
  Dockerfile
  src/components/doc/02-advanced-guides/08/02/Chosen.tsx
Due: npm run lint-staged:js, prettier --write

refactor: replace tslint with eslint
  .eslintrc.js
  .idea/codeStyles/Project.xml
  .lintstagedrc
  .prettierrc
  jest.config.js
  package-lock.json
  package.json
  scripts/commit-msg.js
  tslint.json
Due: prettier --write

fix(docker): fix docker run error
  .gitignore
  Dockerfile
  tsconfig.json
Due: prettier --write

feat(antd@4): upgrade to antd@3.26.13
  config-overrides.js
  package-lock.json
  package.json
Due: prettier --write

feat(antd@4): upgrade to antd@4.0.1
  package-lock.json
  package.json
  public/index.html
  src/app.tsx
  src/doc/01-main-concepts/01-07/01-07-05.tsx
Due: npm run lint-staged:js, prettier --write

refactor: scaffold
  public/index.html
  src/app.less
  src/app.tsx
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

refactor: content menu
  src/app.less
  src/app.tsx
  src/assets/index.less
  src/views/doc/main-concepts/01-02/01-02-01.tsx
  src/views/doc/main-concepts/01-02/01-02-02.tsx
  src/views/doc/main-concepts/hello-world/01.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-03.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-04.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-05/01-02-05.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-05/ss.ico
  src/views/doc/main-concepts/introducing-jsx/01-02-06.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-07.tsx
  src/views/doc/main-concepts/introducing-jsx/embedding-expressions-in-jsx.component.tsx
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

style: content menu style
  src/app.less
Due: stylelint --syntax less, prettier --write

refactor(doc): jsx-is-an-expression-too
  src/app.tsx
  src/assets/index.less
  src/views/doc/main-concepts/introducing-jsx/01-02-03.tsx
  src/views/doc/main-concepts/introducing-jsx/embedding-expressions-in-jsx.component.tsx
  src/views/doc/main-concepts/introducing-jsx/introducing-jsx.component.tsx
  src/views/doc/main-concepts/introducing-jsx/jsx-is-an-expression-too.component.tsx
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

refactor(doc): specifying-children-with-jsx
  src/views/doc/main-concepts/introducing-jsx/01-02-05/01-02-05.tsx
  src/views/doc/main-concepts/introducing-jsx/01-02-05/ss.ico
  src/views/doc/main-concepts/introducing-jsx/introducing-jsx.component.tsx
  src/views/doc/main-concepts/introducing-jsx/specifying-children-with-jsx.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): jsx-prevents-injection-attacks
  src/views/doc/main-concepts/introducing-jsx/01-02-06.tsx
  src/views/doc/main-concepts/introducing-jsx/introducing-jsx.component.tsx
  src/views/doc/main-concepts/introducing-jsx/jsx-prevents-injection-attacks.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): jsx-represents-objects
  src/views/doc/main-concepts/introducing-jsx/01-02-07.tsx
  src/views/doc/main-concepts/introducing-jsx/introducing-jsx.component.tsx
  src/views/doc/main-concepts/introducing-jsx/jsx-represents-objects.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): rendering-an-element-into-the-dom
  package-lock.json
  package.json
  public/index.html
  src/app.tsx
  src/views/doc/main-concepts/01-03/01-03-01.tsx
  src/views/doc/main-concepts/01-03/01-03-02.tsx
  src/views/doc/main-concepts/hello-world/hello-world.component.tsx
  src/views/doc/main-concepts/rendering-elements/01-03-03.tsx
  src/views/doc/main-concepts/rendering-elements/01-03-04.tsx
  src/views/doc/main-concepts/rendering-elements/rendering-an-element-into-the-dom.tsx
  src/views/doc/main-concepts/rendering-elements/rendering-elements.component.tsx
  tsconfig.json
Due: npm run lint-staged:js, prettier --write

refactor(doc): function-and-class-components
  src/app.tsx
  src/views/doc/main-concepts/01-04/01-04-01.tsx
  src/views/doc/main-concepts/components-and-props/01-04-02.tsx
  src/views/doc/main-concepts/components-and-props/01-04-03.tsx
  src/views/doc/main-concepts/components-and-props/01-04-04.tsx
  src/views/doc/main-concepts/components-and-props/01-04-05.tsx
  src/views/doc/main-concepts/components-and-props/components-and-props.component.tsx
  src/views/doc/main-concepts/components-and-props/function-and-class-components.component.tsx
  src/views/doc/main-concepts/rendering-elements/01-03-03.tsx
  src/views/doc/main-concepts/rendering-elements/01-03-04.tsx
  src/views/doc/main-concepts/rendering-elements/rendering-an-element-into-the-dom.tsx
Due: npm run lint-staged:js, prettier --write

style: set content menu width to full
  src/app.less
Due: stylelint --syntax less, prettier --write

refactor(doc): rendering-a-component
  src/views/doc/main-concepts/components-and-props/01-04-02.tsx
  src/views/doc/main-concepts/components-and-props/components-and-props.component.tsx
  src/views/doc/main-concepts/components-and-props/rendering-a-component.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): composing-components
  src/views/doc/main-concepts/components-and-props/01-04-03.tsx
  src/views/doc/main-concepts/components-and-props/components-and-props.component.tsx
  src/views/doc/main-concepts/components-and-props/composing-components.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): extracting-components
  src/views/doc/main-concepts/01-11/01-11-01.tsx
  src/views/doc/main-concepts/components-and-props/01-04-04.tsx
  src/views/doc/main-concepts/components-and-props/components-and-props.component.tsx
  src/views/doc/main-concepts/components-and-props/extracting-components.component.less
  src/views/doc/main-concepts/components-and-props/extracting-components.component.tsx
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

refactor(doc): props-are-read-only
  src/views/doc/main-concepts/components-and-props/01-04-05.tsx
  src/views/doc/main-concepts/components-and-props/components-and-props.component.tsx
  src/views/doc/main-concepts/components-and-props/props-are-read-only.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): converting-a-function-to-a-class
  src/app.tsx
  src/views/doc/main-concepts/01-05/01-05-01.tsx
  src/views/doc/main-concepts/01-05/01-05-02.tsx
  src/views/doc/main-concepts/state-and-lifecycle/01-05-03.tsx
  src/views/doc/main-concepts/state-and-lifecycle/01-05-04.tsx
  src/views/doc/main-concepts/state-and-lifecycle/01-05-05.tsx
  src/views/doc/main-concepts/state-and-lifecycle/01-05-06.tsx
  src/views/doc/main-concepts/state-and-lifecycle/converting-a-function-to-a-class.component.tsx
  src/views/doc/main-concepts/state-and-lifecycle/state-and-lifecycle.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): adding-local-state-to-a-class
  src/views/doc/main-concepts/state-and-lifecycle/01-05-03.tsx
  src/views/doc/main-concepts/state-and-lifecycle/adding-local-state-to-a-class.component.tsx
  src/views/doc/main-concepts/state-and-lifecycle/state-and-lifecycle.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): adding-lifecycle-methods-to-a-class
  src/views/doc/main-concepts/state-and-lifecycle/01-05-04.tsx
  src/views/doc/main-concepts/state-and-lifecycle/adding-lifecycle-methods-to-a-class.component.tsx
  src/views/doc/main-concepts/state-and-lifecycle/state-and-lifecycle.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor(doc): using-state-correctly
  src/views/doc/main-concepts/state-and-lifecycle/01-05-05.tsx
  src/views/doc/main-concepts/state-and-lifecycle/state-and-lifecycle.component.tsx
  src/views/doc/main-concepts/state-and-lifecycle/using-state-correctly.component.tsx
Due: npm run lint-staged:js, prettier --write

refactor: consistent with standard specification
  .circleci/config.yml
  .dockerignore
  .env
  .eslintignore
  .huskyrc
  .idea/codeStyles/Project.xml
  .idea/runConfigurations/docker_compose_production.xml
  .idea/runConfigurations/learning_react.xml
  .lintstagedrc
  .prettierrc
  Dockerfile
  README.md
  config-overrides.js
  deploy/docker-compose.yml
  deploy/nginx.conf
  docker-compose.production.yml
  husky.config.js
  lint-staged.config.js
  package.json
  prettier.config.js
  src/typings.asset.d.ts
  types/asset.d.ts
Due: npm run lint-staged:js, prettier --write

refactor: consistent with standard specification
  .eslintignore
  .idea/watcherTasks.xml
  deploy/docker-compose.yml
  package.json
  scripts/commit-msg.js
  src/app.tsx
  src/index.less
  webpack.custom.config.js
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

chore: update dependencies
  .eslintrc.js
  .idea/codeStyles/Project.xml
  package-lock.json
  package.json
  src/app.tsx
  src/views/doc/advanced-guides/02-04/02-04-02.tsx
  src/views/doc/api-reference/03-01-react/03-01-04.tsx
  src/views/doc/api-reference/03-02-react-component/03-02-03/03-02-03-03/C0302030301.tsx
  src/views/doc/api-reference/03-02-react-component/03-02-03/03-02-03-08/C0302030801.tsx
  src/views/doc/api-reference/03-02-react-component/03-02-03/03-02-03-09/C0302030901.tsx
  src/views/doc/main-concepts/01-07/01-07-02.tsx
  src/views/doc/main-concepts/01-07/01-07-03.tsx
  src/views/doc/main-concepts/01-07/01-07-04.tsx
  src/views/doc/main-concepts/01-11/01-11-01.tsx
  src/views/doc/main-concepts/01-11/01-11-02.tsx
  webpack.custom.config.js
Due: npm run lint-staged:js, prettier --write

style: fix sidebar menu tree style
  src/app.tsx
  src/index.less
Due: stylelint --syntax less, npm run lint-staged:js, prettier --write

Path conditions:
  stylelint --syntax less: any of: src/**/*.less
  npm run lint-staged:js: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: any of: *.{js,ts,tsx,json,html,css,scss,less,md,yml}
